asgiref==3.11.0
cloudinary==1.44.1
Django==6.0.1
django-cloudinary-storage==0.3.0
pillow~=12.1.0
#sqlparse==0.5.0
#django-braces==1.15.0
#django-embed-video==1.4.9
#pymemcache==4.0.0
#django-debug-toolbar==4.3.0
#redis==5.0.4
#django-redisboard==8.4.0
#djangorestframework==3.15.1
requests==2.32.5
#channels[daphne]==4.1.0
#channels-redis==4.2.0
#psycopg==3.1.18
#psycopg[binary]>=3.1
#uwsgi==2.0.25.1     
# The above requires Linux to work...
#python-decouple==3.8
python-dotenv==1.2.1